DOMAIN=cryingpotato.com
# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:good-goldfinch-79 # team: a-sad-potato, project: seamus

# Dev
# VITE_CONVEX_URL=https://good-goldfinch-79.convex.cloud
# VITE_DEPLOYMENT_NAME=good-goldfinch-79

# Prod
VITE_CONVEX_URL=https://fabulous-gazelle-835.convex.cloud
VITE_DEPLOYMENT_NAME=fabulous-gazelle-835
